<!DOCTYPE html>
<html>
 <head>
  <title>CSV&rarr;GPC</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
 </head>
 <body>
  <div class="container">
   <h1>Náhled a doplnění</h1>

   {% for message in get_flashed_messages('main') %}
   <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Chyba:</strong> {{ message[1] }}
   </div>
   {% endfor %}

   <form action="/process" method="post">
    <div class="form-group">
     <label for="account">Číslo účtu:</label>
     <input type="text" name="account" id="account" value="{{account}}" />
     <p class="help-block">Doplňte nebo opravte číslo účtu, ke kterému se tento
                           výpis vztahuje. Předčíslí oddělte pomlčkou a kód banky
                           uveďte za lomítkem.</p>
    </div>
    <div class="form-group">
     <label for="sequence">Pořadí:</label>
     <input type="text" name="sequence" id="sequence" value="{{sequence}}" />
     <p class="help-block">Počáteční pořadové číslo pro skupiny pohybů.
                           Mělo by navazovat na předcházející importy ve
                           Vašem účetním software.</p>
    </div>
    <input type="hidden" name="name" id="name" value="{{name}}">
    <button type="submit" class="btn btn-primary">Zpracovat</button>
    <a class="btn btn-default" href="/">Zpět</a>
   </form>

   <table class="table table-striped csv-table">
    <thead>
     <tr>
      <th>
       Datum /<br/>
       Valuta
      </th>
      <th>
       Typ /<br/>
       Poznámka
      </th>
      <th>
       Částka /<br/>
       Poplatek
      </th>
      <th>VS / KS / SS</th>
      <th>Zpráva</th>
     </tr>
    </thead>
    <tbody>
     {% for rec in inp %}
     <tr>
      <td>
       {{rec.datum[0]}}. {{rec.datum[1]}}. {{rec.datum[2]}}<br/>
       {{rec.valuta[0]}}. {{rec.valuta[1]}}. {{rec.valuta[2]}}
      </td>
      <td>
       {{rec.typ}}<br/>
       {{rec.poznamka}}
      </td>
      <td>
       {% if rec.castka %}
       {{rec.castka / 100}}
       {% endif %}<br/>
       {% if rec.poplatek %}
       {{rec.poplatek / 100}}
       {% endif %}
      </td>
      <td>
       {% if rec.vs %}
       VS: {{rec.vs}}<br/>
       {% endif %}
       {% if rec.ks %}
       KS: {{rec.ks}}<br/>
       {% endif %}
       {% if rec.ss %}
       SS: {{rec.ss}}<br/>
       {% endif %}
      </td>
      <td>{{rec.zprava}}</td>
     </tr>
     {% endfor %}
    </tbody>
   </table>

  </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js" integrity="sha512-xAERw8wHVOkM9x9y9/FvQ7g1t+gIQj39mfkN1Rd1OLcC5k/x2e6NO8hq6qEbb3oO+CYYTjVLFiFYg5/7ddF0zA==" crossorigin="anonymous"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
 </body>
</html>
<!-- vim:set sw=1 ts=1 et: -->
